@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

html {
	margin: 0px;
	padding: 0px;
}

#main-bg {
	background: url("../../public/mainbg.jpg");
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;
}

#overlay {
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.6;
	z-index: -2;
}

h1 {
	padding-top: 50px;
	font-family: "Alfa Slab One", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
}

#calculator-wrapper {
	background: rgba(255, 255, 255);
	height: auto;
	height: fit-content;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

#main-wrapper {
	margin: 0px;
	padding: 0px;
}

h1,
h4 {
	text-align: center;
}

h1,
h2,
h4 {
	margin: 0;
}

#root {
	font-family: "Roboto", sans-serif;
}

#app-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#display-window {
	width: 320px;
	margin-bottom: 30px;
	padding: 10px 0px;

	input,
	#printout-window {
		text-align: right;
		margin: 0;
		padding: 5px 0px;
		background-color: white;
	}

	input {
		width: 320px;

		border: 0px;
		font-size: 30px;
		&:focus-visible {
			border: 0px;
			outline: none;
		}
	}
}

#printout-window {
	height: 25px;
}

.key-row {
	display: flex;
}

.single-key {
	width: 70px;
	height: 70px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 0px;
	border-radius: 10px;
	margin: 5px;

	font-size: 20px;

	background-color: lightgray;

	cursor: pointer;

	&:hover {
		background-color: darkgray;
	}
}

.function {
	background-color: lightblue;
}

.operations {
	background-color: lightcoral;
}

.function-keys,
.basic-operation-keys {
	display: flex;
}

.basic-operation-keys {
	display: flex;
	flex-direction: column;
}

#number-operation-wrapper {
	display: inline-flex;
}

#main-history-wrapper {
	width: 500px;
	margin-left: 50px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	height: 551px;
	padding: 20px 30px;
}

#main-history-wrapper h2 {
	font-weight: bolder;
}

#history-log-wrapper {
	height: 500px;
	overflow: auto;
}

.history-log-entry {
	border: 1px solid black;
	border-radius: 5px;

	padding: 20px;
	margin-bottom: 10px;

	.operation,
	.result {
		text-align: right;
	}
}

// HISTORY WINDOW

.history-window {
	width: 300px;
	height: 100%;

	overflow: scroll;
}

.history-log-single {
	text-align: right;

	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;

	background-color: rgb(238, 238, 238);

	border-radius: 10px;

	.result {
		font-weight: bold;
		font-size: 1.5em;
	}
}

.history-transition-group {
	display: flex;
	flex-direction: column-reverse;
}

// TRANSITION GROUP

@keyframes slide-in-top {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.item-enter {
	opacity: 0;
}
.item-enter-active {
	-webkit-animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
