.button {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main-calculator {
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.secondary-and-numbers {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 20%;
    .secondary {
        display: flex;
        flex-wrap: wrap;
        background-color: orange;
    }
    .numbers {
        display: flex;
        flex-wrap: wrap-reverse;
        background-color: yellow;
    }
}
